# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-json
    -   id: check-added-large-files
    -   id: check-executables-have-shebangs
    -   id: detect-aws-credentials
- repo: https://github.com/streetsidesoftware/cspell-cli
  rev: v9.6.0
  hooks:
  -     id: cspell
  -     id: cspell # Spell check changed files
        stages: [commit-msg]
        name: check commit message spelling
        args:
          - --no-must-find-files
          - --no-progress
          - --no-summary
          - --files

- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v4.3.0
  hooks:
  - id: conventional-pre-commit
    stages: [commit-msg]
    args: [
      "--strict",
      "--verbose",
      # Based on Angular's commit messages
      # https://github.com/angular/angular/blob/main/contributing-docs/commit-message-guidelines.md
      "--scopes feat, fix, refactor, tests, build, ci, changelog, docs, perf"
  ]
